Python is a high-level, general-purpose programming language. It's often described as:
- A scripting language
- An interpretered language
- Procedural, object-oriented, and functional

## Hello world

Our first program in Python:

In [1]:
print("Hello world")

Hello world

In [2]:
x = 3
y = 4
print(x + y)
x = "Hello "
y = "world!"
print(x + y)

7
Hello world!

Notice that:
- Variables don't need to be declared
- Types are never assigned explicitly to variables
- Operators can have multiple meanings
- No semicolons! Whitespace is significant
- `print()` is a function
- Not required to have a "top-levell" main function or class

Comments in Python are denoted with the # character

In [3]:
# Set the variable x to 5
x = 5

Also note that variable names are case sensitive!

In [4]:
# Not a good idea to have variables that differ only by case
X = 10
print(x, X)

5 10

## Datatypes

Now let's go through the basic datatypes in Python. We'll start with `int`, which represents an integer. Unlike many languages, integers have unlimited precision:

In [5]:
2**100

1267650600228229401496703205376

All the basic operators work as you'd expect:

In [6]:
print(2 + 1)
print(5 - 2)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(4**2)

3
3
3.3333333333333335
3
1
16

Mixed arithmetic is fully supported (narrowed type is "widened")

In [7]:
3 + 2.5

5.5

You can also "cast" other types using `int()`

In [8]:
int(3.1415)

3

Floating point numbers in Python are represented using the `float` type, which is equivalent to the an IEEE-754 `double`, which has 15 significant digits and an approximate range of 10<sup>-308</sup> to 10<sup>308</sup>. Anytime you have `.` in a number, it will be a `float`:

In [9]:
avogadro = 6.022e23
pi = 3.14

In addition to all the usual operators, you can find common mathematical functions in the `math` standard-library module:

In [10]:
import math

math.sin(math.pi)

1.2246467991473532e-16

In [11]:
math.exp(0.0)

1.0

And, as before, we can "cast" other types to float using `float()`:

In [12]:
float("12.5")

12.5

Python has a Boolean type, `bool`, with two special values: `True` and `False`. These values result from comparisons:

In [13]:
b = math.sqrt(25.0) < 6
print(b)

True

As we'll see later, Boolean values are used in `if` and `while` statements:

In [14]:
if math.sqrt(25.) < 6:
    print("Hooray!")

Hooray!

Python has three logical operators: `and`, `or`, and `not` that work as you'd expect:

In [15]:
x = 15
if x > 10 and x < 30:
    print('In between 10 and 30')

In between 10 and 30

The `str` type in Python is a sequence of characters and is denoted by a paid of single or double quotes

In [16]:
language = "Python"
greeting = "Hola señor"
print(greeting, language)

Hola señor Python

You'll also come across triple-quoted strings, which can span multiple lines and have a special meaning in Python for code documentation:

In [17]:
"""
This is a description of a cool piece of code
which implements an awesome algorithm designed by
a masterful programmer.
"""

'\nThis is a description of a cool piece of code\nwhich implements an awesome algorithm designed by\na masterful programmer.\n'

String objects have many methods that allow us to manipulate them in various ways:

In [18]:
x = "Hello world"
x.upper()

'HELLO WORLD'

In [19]:
x.find("world")

6

In [20]:
x.split()

['Hello', 'world']

In [21]:
y = "   extra space    "
y.strip()

'extra space'

The built-in function `len` gives us the length of a string:

In [22]:
len(y)

18

The mathematical operators `+` and `*` can be used on strings and correspond to concatenation and repetition:

In [23]:
x + x.upper()

'Hello worldHELLO WORLD'

In [24]:
3*x

'Hello worldHello worldHello world'

Use `str()` to convert other types

In [25]:
str(math.pi)

'3.141592653589793'

The `in` operator can also be used to check for a substring:

In [26]:
'world' in x

True

In [27]:
"I" in "team"

False

Can index characters in a string, starting at 0. Negative indices count from the end.

In [28]:
x[0]

'H'

In [29]:
x[-1]

'd'

You can get a substring by using a colon with two indices:

In [30]:
x[2:5]

'llo'

In [31]:
x[:5]

'Hello'

Python also has a special type with a single value, `None`, which is indicate to indicate nothingness (e.g., an optional argument that was not passed). It is also the default return value for a function without a `return` statement.

In [32]:
y = print("really?")
y == None

really?

True

The `list` type represents an ordered collection of objects, denoted by `[...]`

In [33]:
colors = ['red', 'green', 'blue']

You can mix different types within a list:

In [34]:
objs = [0, 'Python', 1.45e6, False, None]

As with strings, `len()` will give you the length of the list

In [35]:
len(colors)

3

Lists can be modified using various methods

In [36]:
colors.append('purple')
colors

['red', 'green', 'blue', 'purple']

In [37]:
colors.insert(0, 'black')
colors

['black', 'red', 'green', 'blue', 'purple']

In [38]:
colors.sort()
colors

['black', 'blue', 'green', 'purple', 'red']

Membership can be checked with the `in` operator

In [39]:
'white' in colors

False

Indexing gives us a single item in a list:

In [40]:
colors[1]

'blue'

In [41]:
colors[-1]

'red'

Using a colon gives us a "slice" of the list

In [42]:
colors[:3]

['black', 'blue', 'green']

Before we used the `split()` method on a string — notice that this returns a list:

In [43]:
x.split()

['Hello', 'world']

The reverse operation is the `join()` method on a string, which takes a list as its argument:

In [44]:
' -- '.join(colors)

'black -- blue -- green -- purple -- red'

Python also has a `tuple` type that is similar to a list but is immutable (can't be changed). It is denoted by a `(...)` pair instead of `[...]`:

In [45]:
address = ('3 Main St', 'Citysville', 'NY', 10101)

Indexing works the same as for lists, but the other methods that modify a list (append, insert, etc.), are not available for tuples. You can think of a tuple as a light-weight "record". Typically, lists store the same kind of "stuff", whereas tuples store different kinds of "stuff". For example:

In [46]:
addresses = [
    ('3 Main St', 'Citysville', 'NY', 10101),
    ('21 Foo Ave', 'Plymouth', 'PA', 32451),
    ('10 Bar Blvd', 'London', 'KY', 60134)
]

One of the most useful types in Python is the dictionary, `dict`, which represents an associative array (key-value mapping). Dictionaries are denoted by a pair of `{...}`:

In [47]:
stocks = {'AAPL': 'Apple Inc', 'MSFT': 'Microsoft', 'GOOG': 'Alphabet'}
stocks['GOOG']

'Alphabet'

Adding a new key-value pair is as simple as setting an index:

In [48]:
stocks['IBM'] = 'IBM Corporation'

Like other sequences, `len` gives us the length (number of key-value pairs)

In [49]:
len(stocks)

4

The `in` operator compares against *keys*, not values:

In [50]:
'AAPL' in stocks

True

In [51]:
'Microsoft' in stocks

False

## Control flow

Like most programming languages, Python has an if/elif/else block statement. Note that lines below the if statement need to be indented the same.

In [52]:
x = 15
if x < 10:
    print('Less than 10')
elif x >= 10 and x < 20:
    print('Between 10 and 20')
else:
    print('Greater than 20')

Between 10 and 20

There's also a `while` statement that works as you'd expect:

In [53]:
index = 0
while index < 10:
    print('Index is', index)
    index += 1

Index is 0
Index is 1
Index is 2
Index is 3
Index is 4
Index is 5
Index is 6
Index is 7
Index is 8
Index is 9

The `continue` and `break` statements can be used to go to the next loop iteration and exit the loop, respectively.

The `for` statement iterates over elements of a sequence (list, tuple, dictionary, etc.):

In [54]:
for color in colors:
    print(color)

black
blue
green
purple
red

There's a special type for iterating over a sequence of integers called `range()`

In [55]:
new_list = []
for i in range(5):
    new_list.append(i)
print(new_list)

[0, 1, 2, 3, 4]

Looping over a dictionary loops over the **keys** by default:

In [56]:
for symbol in stocks:
    print(symbol, stocks[symbol])

AAPL Apple Inc
MSFT Microsoft
GOOG Alphabet
IBM IBM Corporation

If you want to iterate over the values specifically, use the `.values()` method:

In [57]:
for name in stocks.values():
    print(name)

Apple Inc
Microsoft
Alphabet
IBM Corporation

The `import` statement allows us to obtain variables defined in other files. Python includes a "standard library" with _a lot_ of modules that cover many use cases. For example, working with the operating system:

In [58]:
import os

print(os.getcwd())
print(os.cpu_count())

/home/romano/workshops/openmc-nea-course/notebooks/02-python
12

## Modules

In addition to the standard library, there is an entire ecosystem of well maintained third-party packages that you can install with tools like `pip` or `conda`. For example, `numpy` is one of the most widely used packages that provides multidimensional arrays:

In [59]:
import numpy as np

x = np.array([[1.0, 2.0, 3.0],
              [4.0, 5.0, 6.0]])
print(np.cos(x))

[[ 0.54030231 -0.41614684 -0.9899925 ]
 [-0.65364362  0.28366219  0.96017029]]

In [60]:
x[0, 2]

3.0

## Functions

Python allows you to define functions, a set of statements that can be called more than once, using the `def` statement.

In [61]:
def add(x, y):
    return x + y

print(add(3, 5))
print(add("Python", " programming"))

8
Python programming

Local variables only exist inside function:

In [62]:
def add(x, y, z):
    value_sum = x + y + z
    return value_sum

s = add(10, 20, 30)
print(s)

60

You can return multiple values from a function, which turns it into a tuple:

In [63]:
def repeat(x, n):
    y = []
    for i in range(n):
        y.append(x)
    return y

repeated_values = repeat(True, 5)
print(repeated_values)

[True, True, True, True, True]

Python has many built-in functions such as `len`, `sum`, `min`, `max`:

In [64]:
twenty_nums = range(20)
print(min(twenty_nums))
print(max(twenty_nums))
print(sum(twenty_nums))

0
19
190

## Classes

All of the datatypes that we went over before are classes. Python allows you to define your own classes with their own variables (attributes) and associated behavior (methods). This is done using the `class` statement, which is a block that contains a set of functions (methods). The `__init__` method is special and is called whenever an instance of this class is created

In [65]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        
    def get_salary(self):
        return self.salary
    
    def give_raise(self, amount):
        self.salary += amount

In [66]:
paul = Employee('Paul', 50_000)
print(paul.name, paul.salary)

Paul 50000

In [67]:
paul.get_salary()

50000

In [68]:
paul.give_raise(20_000)
paul.get_salary()

70000

Classes are _central_ to understanding the OpenMC Python API because all the objects you will be working with are either classes defined by OpenMC or the built-in classes that Python gives you.